*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-sign{
    background: #ECEEF1;
}
.signin-page{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.signin-page span{
    display: block;
}
.signin-page a{
    color: #0077C5;
    text-decoration: none;
}
.signin-page span{
    font-size: 00.8rem;
    line-height: 1.3rem;
}
.btn-signin{
    width: 100px;
    background: #0077C5;
    border-radius: 5px;
    border: hidden;
    margin-left: 10px;
}
.btn-signin i{
    margin-right: 5px;
}
.ius-main-header .header h3,h5{
font-size: .75rem;
line-height: 1.3;
}
.iunt-img{
    height: 128px;
  background-position: 15px 0px;
}
.label-br{
    display: block;
}
section{
    background: #ECEEF1
}
.container{
    max-width: 400px;
    width: calc(100% - 50px);
    border: 1px solid #aaaa;
    margin: auto 20%;
    background: white;
}
.ius-main-header,form,footer{
    margin: 30px 20px;
}
.form-control{
    padding: 7px;
    width: 90%;
    border:1px solid #d8d8d8;
    color: #000;
    outline: none;
}
.label-br{
    margin: 30px auto 10px auto;
    font-size: 0.9rem;
    line-height: 1.3rem;

}
.create-account{
    margin: 30px auto auto;
    width: 90%;
    padding: 10px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    background: #0077C5;
    outline: none;
    border: hidden;
    border-radius: 5px;
    color: white;
}
.container a{
    color: #0077C5;
    text-decoration: none;
}
footer span{
   font-style: italic;
   font-size: 0.8rem;
   line-height: 1.3rem;
}
.google-security{
    background: #ECEEF1;
    margin: 32px auto auto;
    padding: 16px;
    text-align: center;
}
.google-security span{
    font-size: 0.6rem;
    line-height: 1.25rem;
   
}
